<h1>Players</h1>

  <% current_letter = "" %>
<ul>
  <% @players.each do |player| %>
    <% if player.last_name[0] != current_letter %>
      <% current_letter = player.last_name[0] %>
        <h1><%= current_letter %></h1>
        <hr>
        <li><% displayname = player.last_name + ", " + player.first_name %><%= link_to displayname, player%></li>
      <% else %>
        <li><% displayname = player.last_name + ", " + player.first_name %><%= link_to displayname, player%></li>
    <% end %>
  <% end %>
</ul>
