<h1>Players</h1>
<ul>
  <% current_letter = "" %>
  <% @players.each do |player| %>
    <% if player.last_name[0] != current_letter %>
      <% current_letter = player.last_name[0] %>
      <hr>
      <h1><%= current_letter %></h1>
      <% displayname = player.last_name + ", " + player.first_name %>
      <li><%= link_to displayname, player%></li>
    <% else %>
      <% displayname = player.last_name + ", " + player.first_name %>
      <li><%= link_to displayname, player%></li>
    <% end %>
  <% end %>
</ul>
